{:deps
 {logseq/logseq
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "c541b096f42b81f84046b8a1b3f726e0f28c8e51"}}

 :tasks
 {nbb
  {:requires ([babashka.classpath :as classpath])
   :doc "Run nbb-logseq with bb.edn classpath"
   :task (apply shell "nbb-logseq"
           "-cp" (classpath/get-classpath) *command-line-args*)}}}
