{:deps
 {logseq/graph-parser
  {:git/url "https://github.com/logseq/logseq"
   :git/sha "401c416484aaee7c92de3a668200767f9536d8e7"
   :deps/root "deps/graph-parser"}
  #_{:local/root "../../../../work/logseq/deps/graph-parser"}}}
